@{
    ViewData["Title"] = "Home Page";
}
<button class="d-none" id="btn-toast" onclick="DetalleLuchadorEnfrentamiento(@ViewBag.luchador1.IdLuchador, 3)"></button>
<button class="d-none" id="btn-toast2" onclick="DetalleLuchadorEnfrentamiento(@ViewBag.luchador2.IdLuchador, 4)"></button>
<button class="d-none" id="btn-puntuacion" onclick="Puntuacion()"></button> @* @ViewBag.luchador1, @ViewBag.luchador2 *@

<div class="container-fluid">
    <body style="background: url('/img/rings/@ViewBag.Ring') center no-repeat; background-size: cover;">
    <div class="row" style="margin-top: 1rem;">
        <div class="col-5"> @* IMG LUCHADOR 1 *@
            <img style="height: 15rem;" src="/img/luchadores/@ViewBag.luchador1.Foto" id="imgl1">
        </div>
        <div class="col-2"> @* IMG VERSUS *@
            <img src="/img/versus.png"  style="width: 100%;" id="versus-img2"> @* id="versus-img" *@
        </div>
        <div class="col-5 derecha"> @* IMG LUCHADOR 2 | ALINEAR A LA DERECHA!!! *@
            <img style="height: 15rem;" src="/img/luchadores/@ViewBag.luchador2.Foto" id="imgl2">
        </div>
    </div>
    <div class="row">
        <div class="col-4"> @* GRÁFICO LUCHADOR 1 *@
            <div class="fondografico">
              <div class="contenedorgrafico">
                <canvas id="myChart3"></canvas>
              </div>
            </div>
        </div>
        <div class="col-4"> @* TEXTO: SKILL(iq, fuerza, etc) Y PUNTUACIÓN(2-0) | SE VA   ACTUALIZANDO CADA X SEGS *@
            <div class="row" style="color: red; text-align: center;">
                <div class="skill-text"> 
                    <h1>SKILL</h1>
                </div>
            </div>
            <div class="row" style="color: red; text-align: center;">
                <h1>PUNTOS</h1>
            </div>
        </div>
        <div class="col-4"> @* GRÁFICO LUCHADOR 2 | ALINEAR A LA DERECHA!!! *@
            <div class="fondografico">
              <div class="contenedorgrafico">
                <canvas id="myChart4"></canvas>
              </div>
            </div>
        </div>
    </div>

    </body>
</div>

<script type="text/javascript" src="/js/confetti-enfrentamiento.js"></script>