@{
    ViewData["Title"] = "Home Page";
}
<body background="/img/fondo1.jpg">
<h2> Temporalmente esta página tiene lo que debería tener el modal de Agregar Luchador</h2><br>

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">NOMBRE</label>
    <input type="text" class="form-control">
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">FechaNacimiento</label>
    <input type="Date" class="form-control">
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>


  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Foto</label>
    <input type="file" class="form-control">
  </div>

<!-- CAMBIAR PLACEHOLDER POR UN COSITO COMO EL DEL TYPE FORM AL PRINCIPIO-->
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">ESTADÍSTICAS</label>
    <input type="text" class="form-control" placeholder="IQ">
    <input type="text" class="form-control" placeholder="Fuerza">
    <input type="text" class="form-control" placeholder="Velocidad">
    <input type="text" class="form-control" placeholder="Resistencia">
    <input type="text" class="form-control" placeholder="BattleIQ">
    <input type="text" class="form-control" placeholder="PoderDestructivo">
    <input type="text" class="form-control" placeholder="Experiencia">
    <input type="text" class="form-control" placeholder="Transformaciones">
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>


<!-- PARA ELEGIR 2 LUCHADORES PARA LA PELEA

<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>

    -->

